
body {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  line-height: 160%;
	padding-left: 20px;
	padding-right: 20px;
}


.nav .prev {
	float: left;
}

.nav .next {
	float: right;
}

#featured-quote.loading {
	min-height: 120px;
}

h1 {
  line-height: 140%;
  text-indent: -1em;
  padding-left: 1em;
}

a:visited {
	color: blue;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.note {
  margin-top: 8em;
  font-style: italic;
  opacity: 0.5;
}
